.carousel {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
}

#carousel-thumbs {
    background: rgba(255, 255, 255, .3);
    padding: 0 50px;
    right: 0;
}

#carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
    border-color: #09674f;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
}

@media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: relative;
    }
}

@media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: #ccccce;
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}