$blue: blue;
$dark-green: #032119;
$green: #07503d;
$light-green: #09674f;
$dark-gray: #42495b;
$medium-gray: #F6F6F7;
$light-gray: #9b9b9b;
$gray: #717171;
$black: black;
$white: white;
$red: red;
$yellow: yellow;
$border-color: rgba(0, 0, 0, 0.12);
