@import "../vars/_variables.scss";

.swiper-button-next,
.swiper-button-prev {
  color: #878fa0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: $light-gray;
  outline: 0;
  box-shadow: none;
}

.btn:hover.btn-outline-light {
  color: black !important;
}

/* Header */

.search-input {
  input {
    border-radius: 2px 0 0 2px;
    border-width: 0;
    font-size: 1em;
  }
  svg {
    background-color: $white;
    color: $gray;
    padding: 6px 8px 6px;
    border-radius: 0 2px 2px 0;
  }
}

.navbar-nav {
  margin-top: 12px;
  a {
    color: $white;
  }
}

.mobile-cart {
  display: none;
}

.sidebar-menu,
.container-search {
  display: none !important;
}

@media (max-width: 992px) {
  .container-info,
  .container-search {
    width: 80vw !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }
  .sidebar-menu {
    display: block !important;
  }
  .first-search,
  .navbar-nav {
    display: none !important;
  }
  .navbar + div:first-child {
    justify-content: space-around;
  }
  .btn-sidebar,
  .logo {
    transform: translateY(-10px);
  }
  .logo_wrapper {
    width: 185px;
    height: 35px;
    .navbar-brand {
      margin-right: 0;
      .logo {
        width: 150px;
        height: auto;
      }
    }
  }
  .mobile-cart {
    display: block;
  }
}

/* End Header */

/* Sidebar */
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 101;
  font-size: 14px;
  transition: transform 0.3s;
  transform: translateX(-100%);
  .sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $white;
  }
  .sidebar-info {
    width: 100%;
    background-color: $green;
    background: $green url("/images/sidebar/lines-web-pattern.png");
    padding: 30px 15px;
    .sidebar-avatar {
      div {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: $dark-green;
        border-radius: 100%;
        svg {
          color: $white;
        }
      }
    }
    .username {
      margin-top: 10px;
    }
    .sidebar-navigation {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;
      .sidebar-navigation__button {
        width: 120px;
      }
    }
  }
  .sidebar-list {
    background-color: $medium-gray;
    height: 100%;
    .sidebar-category {
      padding: 10px;
      color: $light-gray;
    }
    .sidebar-content {
      background-color: $white;
      height: 60vh;
      overflow-y: auto;
      .sidebar-item,
      .v-expansion-panel-title {
        padding: 10px 20px 10px 5px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  &.active {
    transform: translateX(0);
  }
}

/* End Sidebar */

/* Slider */
.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}
.swiper-pagination-bullet-active {
  background-color: $green;
  width: 30px;
  border-radius: 4px;
}

.swiper {
  .swiper-button-next {
    right: 0;
    transform: translateX(32px);
  }
  .swiper-button-prev {
    left: 0;
    transform: translateX(-32px);
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 51px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f1f5f6;
    transition: all 0.45s ease;
  }
  &:hover .swiper-button-next {
    transform: translateX(0);
    box-shadow: 0 7px 10px 0 rgba(72, 139, 216, 0.2);
  }
  &:hover .swiper-button-prev {
    transform: translateX(0);
    box-shadow: 0 7px 10px 0 rgba(72, 139, 216, 0.2);
  }
}

/* End Slider */

/* NPprocess */
#nprogress .bar {
  background: var(--white);
}
/* End NPprocess */

/* Notifications */
.custom-notification {
  .vue-notification-template {
    padding: 10px 10px 15px;
    font-size: 14px !important;
    .notification-title {
      padding-bottom: 10px;
    }
  }
  .success {
    background: #439b5d !important;
    border-left-color: #3db55f !important;
  }
}

/* End Notifications */

/* Form Control */
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
}

.was-validated .form-control:valid,
.form-control.is-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-success-rgb), 0.2);
}
.was-validated .form-control:invalid,
.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-danger-rgb), 0.2);
}
/* End Form Control */

/* Grid */

.footer-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-sm-6 {
    width: 50% !important;
  }
}

@media (min-width: 768px) {
  .footer-sm-12 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .footer-md-3 {
    width: 25% !important;
  }
}

@media (min-width: 992px) {
  .footer-md-6 {
    width: 50% !important;
  }
}
/* End Grid */

/* Custom Paginate */
@media (max-width: 960px) {
  .v-pagination__list {
    padding-left: 0;
    .v-pagination__item,
    .v-pagination__first,
    .v-pagination__prev,
    .v-pagination__next,
    .v-pagination__last {
      margin: 2px;
    }
  }
}
.v-pagination__list {
  .v-btn {
    width: 40px !important;
    height: 40px !important;
    font-size: 14px;
  }
}

/* End Custom Paginate */

/* Custom V-Select 
.v-field--variant-filled .v-field__overlay {
  background-color: unset !important;
}
/* End Custom V-Select 

/* Custom V-Button 
.v-btn--size-default {
  font-size: 14px;
}
/* End Custom V-Button 

/* Custom V-Field 
.v-field--variant-filled {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.v-field--variant-filled .v-field__outline::before, .v-field--variant-underlined .v-field__outline::before {
  border-color: rgba(0,0,0,.24) !important;
  border-width: 1px !important;
  border-radius: 4px;
}
.v-field--focused.v-field--variant-filled .v-field__outline::after, .v-field--focused.v-field--variant-underlined .v-field__outline::after {
  display: none !important;
}
/* End Custom V-Field */

/* Custom Process Linear */
.v-progress-linear__background {
  background: var(--green) !important;
}
/* End */

/* Custom V-Data Table Server */
.v-table {
  td {
    white-space: nowrap;
  }
}
/* End Custom V-Data Table Server */

/* Custom Form */
.form-label {
  margin-bottom: 2px;
}
.v-input--readonly .v-input__control {
  background-color: #EEEEEE;
}
/* End Custom Form */

/* Custom Grid */
.form-wrapper {
  .v-col-xxl,
  .v-col-xxl-auto,
  .v-col-xxl-12,
  .v-col-xxl-11,
  .v-col-xxl-10,
  .v-col-xxl-9,
  .v-col-xxl-8,
  .v-col-xxl-7,
  .v-col-xxl-6,
  .v-col-xxl-5,
  .v-col-xxl-4,
  .v-col-xxl-3,
  .v-col-xxl-2,
  .v-col-xxl-1,
  .v-col-xl,
  .v-col-xl-auto,
  .v-col-xl-12,
  .v-col-xl-11,
  .v-col-xl-10,
  .v-col-xl-9,
  .v-col-xl-8,
  .v-col-xl-7,
  .v-col-xl-6,
  .v-col-xl-5,
  .v-col-xl-4,
  .v-col-xl-3,
  .v-col-xl-2,
  .v-col-xl-1,
  .v-col-lg,
  .v-col-lg-auto,
  .v-col-lg-12,
  .v-col-lg-11,
  .v-col-lg-10,
  .v-col-lg-9,
  .v-col-lg-8,
  .v-col-lg-7,
  .v-col-lg-6,
  .v-col-lg-5,
  .v-col-lg-4,
  .v-col-lg-3,
  .v-col-lg-2,
  .v-col-lg-1,
  .v-col-md,
  .v-col-md-auto,
  .v-col-md-12,
  .v-col-md-11,
  .v-col-md-10,
  .v-col-md-9,
  .v-col-md-8,
  .v-col-md-7,
  .v-col-md-6,
  .v-col-md-5,
  .v-col-md-4,
  .v-col-md-3,
  .v-col-md-2,
  .v-col-md-1,
  .v-col-sm,
  .v-col-sm-auto,
  .v-col-sm-12,
  .v-col-sm-11,
  .v-col-sm-10,
  .v-col-sm-9,
  .v-col-sm-8,
  .v-col-sm-7,
  .v-col-sm-6,
  .v-col-sm-5,
  .v-col-sm-4,
  .v-col-sm-3,
  .v-col-sm-2,
  .v-col-sm-1,
  .v-col,
  .v-col-auto,
  .v-col-12,
  .v-col-11,
  .v-col-10,
  .v-col-9,
  .v-col-8,
  .v-col-7,
  .v-col-6,
  .v-col-5,
  .v-col-4,
  .v-col-3,
  .v-col-2,
  .v-col-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
/* End Custom Grid */

.custom-modal {
  .v-overlay__scrim {
    background: rgb(var(--v-theme-on-surface)) !important;
  }
}

.btn.bg-none {
  border-width: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.message-danger {
  color: #B00020;
}
