.swiper-button-next,
.swiper-button-prev {
  color: #878fa0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.v-field__input {
  padding: 8px 8px;
}

.logo {
  display: none;
}
