:root {
    --blue: blue;
    --dark-green: #032119;
    --green: #07503d;
    --light-green: #09674f;
    --dark-gray: #42495b;
    --medium-gray: #F6F6F7;
    --light-gray: #9b9b9b;
    --gray: #717171;
    --black: black;
    --white: white;
    --red: red;
    --yellow: yellow;
    --cream: #f9f9f9;
}

body {
    letter-spacing: 0.25px;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none; */
    overflow: hidden;
}

html {
    font-family: sans-serif
}

html.frozen {
    overflow: hidden;
}
/*
a:hover {
    --bs-link-color-rgb: none;
}*/

.component-overlay,.start-component-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-component-overlay .v-overlay__scrim {
    background-color: var(--white);
}

.v-overlay__scrim {
    background: var(--white) !important;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    background-color: var(--green);
    cursor: not-allowed;
}

.invalid-feedback {
    display: block;
    margin-left: 8px;
}

.v-slide-group {
    position: relative;
}

.v-slide-group__prev {
    position: absolute;
    z-index: 3;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.v-slide-group__next {
    position: absolute;
    right: 0;
    z-index: 3;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.v-card {
    padding: 16px !important;
}

.v-card--variant-elevated {
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15) !important;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15) !important;
}

.cursor-pointer {
    cursor: pointer;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-weight: 400 !important;
    background-color: #f5f5f5;
    opacity: 1 !important;
    position: relative;
}

.logo{
    width: 230px;
    height: 50px;
}

.logo_wrapper{
    text-align: center;
    line-height: 72px;
    width: 370px;
    height: 72px;
}

.text-success{
    color: var(--green) !important;
}

.text-cream {
    color: var(--cream);
}

.text-justify {
    text-align: justify;
}

.bg-success{
    background-color: var(--green) !important;
}

.bg-cream {
    background-color: var(--cream);
}

.btn-success{
    background-color: var(--green) !important;
}

.nowrap-button {
    white-space: nowrap;
}

.header-myAccount{
    display: block;
    height: 54px;
    min-width: 180px;
    line-height: 7px;
    padding-left: 16px;
    padding-right: 32px;
    border-right-width: 2px;
}

.header-myAccount:hover {
    box-shadow: rgba(0,0,0,0.15) 0px 1px 8px;
    border-right-width: 0 !important;
}

.header-myAccount:hover .header-myAccount__info {
    display: block;
}

.header-myAccount__info {
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    height: auto;
    z-index: 100;
    padding: 8px 16px;
    line-height: normal;
}

.header-myAccount__info a {
    display: block;
    padding-bottom: 12px;
    font-size: 14px;
}

.header-myFavorites{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    padding-right: 35px;
}

.p-15{
    font-size: 15px !important;
    font-weight: normal;
}

.p-16{
    font-size: 16px !important;
    font-weight: normal;
}

.p-14{
    font-size: 14px !important;
    font-weight: normal;
}

.p-13{
    font-size: 13px !important;
    font-weight: normal;
}

.p-12{
    font-size: 12px !important;
    font-weight: normal;
}

.p-16-bold{
    font-size: 16px !important;
    font-weight: bold;
    line-height: 1.5;
    font-weight: 600;
}

.p-15-bold{
    font-size: 15px !important;
    font-weight: bold;
    font-weight: 600;
}

.p-14-bold{
    font-size: 14px !important;
    font-weight: 600;
    margin: 0px;
}

.p-13-bold{
    font-size: 12px !important;
    font-weight: bold;
}

.p-12-bold{
    font-size: 12px !important;
    font-weight: bold;
}

.nav-link:hover{
    font-weight: 750;
}

.btn_xemThem{
    line-height: 100%;
    height: 30px;
}

.btn_xemThem span{
    line-height: 20px;
}

.btn-menu{
    font-size: 17px !important;
    padding: auto;
    border: 0.8px solid var(--green);
}

.btn-menu:hover{
    background-color: var(--green);
    border: 1px solid var(--white) !important;
}

.btn-menu:hover .bi{
    color: #f0f0f0 !important;
}

.pduct{
    cursor: pointer;
    filter: scale(90%);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.title-product{
    margin-top: 5px;
    line-height: 1.15;
    position: relative;
    z-index: 5;
}

.pduct img{
    transition: 1s;
    max-width: auto !important;
    height: 100% !important;
    margin: auto;
}

.pduct:hover img{
    filter: scale(100%);
    transform: scale(1.05);
}

.hidden-menu{
    transform: scale(0) !important;
    display: -webkit-inline-box;
    gap: 10px
}

.card:hover .hidden-menu{
    transition: 0.3s ease;
    transform: scale(1) !important;
    transform: translateY(-20px);
}

.product-price {
    transition: all .4s ease-out;
    opacity: 1;
}

.card:hover .product-price{
    transition: all .4s ease-out;
    transform: translateY(15px);
    opacity: 0;
}

.card:hover .product-price{
    opacity: 0;
}


@keyframes fade {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.swiper {
    width: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.container-footer{
    margin-left: 10%;
    margin-bottom:16px
}

.span-footer{
    opacity: 0.5;
    text-decoration: none;
    color: var(--white);
}
.span-footer:hover{
    opacity: 1;
}

.btn{
    background: var(--green);
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn-submit{
    color: var(--white) !important;
    border-radius: 2px !important;
}

.btn-submit:hover{
    color: white;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--light-green);
    z-index: -1;
    transition: 0.8s;
}

.btn-submit::before{
    bottom: 0;
}

.btn-submit:hover::before{
    height: 180%;
}

.footer-connect img{
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.col-md-4 input, .col-md-5 input{
    border-radius: 2px !important;
}

.box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box img{
    width: 100%;
}

.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(255,255, 255, 0.1);
    transition: 0.8s;
    z-index: 2;
}

.box:hover::before{
    top: 100%;
    height: 100%;
}

.product-price-sp, .trademark{
    height: 140px;
    overflow: scroll;
    overflow-x: hidden;
}

.trademark::-webkit-scrollbar, .product-price-sp::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--light-green);
}

.section-sp{
    max-height: 600px;
}

.paragraph-sp{
    margin-bottom: 15px;
    text-align: justify;
    height: 350px;
    overflow: hidden;
}

.mo_ta{
    position: relative;
}

.paragraph-sp h4 h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-sp{
    /* position: absolute; */
    background-color: var(--white);
    width: 100%;
    bottom: 0;
    left: 0;
}

.btn-xt, .btn-rg{
    background: none !important;
    color: black;
}

.button-sp::before{
    height: 40px;
    margin-top: -45px;
    content: "";
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff00', endColorstr='#ffffff', GradientType=0);
    display: block;
}

.btn-rutgon{
    display: none;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

.splide__slide {
    opacity: 0.3;
}

.splide__slide.is-active {
    opacity: 1;
}

.title-head {
    font-size: 22px;
    margin: 10px 0 0;
}

.price-information{
    font-size: 22px;
    color: var(--green);
    font-weight: 500;
}

.swatch{
    margin: 10px 0px;
}

.bk-product-property{
    display: none;
}

.swatch-element input:checked+label{
    background: transparent;
    color: #333;
    border: 1px solid var(--green) !important;
}

.swatch label{
    padding: 5px 5px;
    margin-top: 6px;
    font-size: 13px;
    color: #333333;
    cursor: pointer;
}

.swatch-element{
    margin: 0px 5px 5px 0;
    height: 35px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.txt-main{
    font-size: 19px;
    font-weight: 650;
}

.btn-thongtin{
    transition: 0.5s ease-in-out;
    padding: 10px 10px 10px;
    height: 65px;
    width: 45%;
    margin-right: 10px;
}

.btn-thongtin:hover{
    background-color: var(--dark-green) !important;
}

.favorite-tt{
    height: 40px;
    width: 220px;
    display: inline-block;
    position: relative;
}

.favorite-tt .material-icons{
    font-size: 30px;
    color: #cabfbf;
    padding: 5px;
    border-right: 0.8px solid #dee2e6;
}

.favorite-content{
    padding: 5px;
    color: #938787;
}

.nav .nav-tabs{
    width: 100%;
}

.nav-tabs .nav-link{
    background-color: var(--green) !important;
    border-radius: 0%;
    color: var(--white);
    padding-right: 19.8px;
    padding-left: 19.8px;
}

.nav-tabs .nav-link:focus{
    border: none;
}

.nav-tabs .nav-link:hover{
    background-color: var(--green) !important;
    border-radius: 0%;
    color: var(--white);
    padding-right: 19px;
    padding-left: 19px;
    isolation: unset !important;
    font-weight: normal;
    border: none;
}

.nav-tabs .nav-link.active{
    background-color: var(--green) !important;
    color: var(--white) !important;
    border: none;
    position: relative;
}

.nav-tabs .nav-link.active::before{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    background-color: var(--white);
}

.mota .p-16-bold{
    color: #42495B;
}

.image_service img{
    width: 40px;
    height: auto;
    transition: 0.5s ease-in-out;
}

.image_service img:hover{
    transform: rotate(360deg);
}

.wrap-service{
    padding: 15px 0 15px;
    border-bottom: 0.8px solid #dee2e6;;
}

.card_gio_hang img{
    width: 100%;
    height: 100%;
}

.a_giohang{
    text-decoration: none;
}

.a_giohang:hover{
    text-decoration: underline;
}

.p_cost {
    font-size: 14px;
    color: #717171;
    font-weight: 600;
}

img{
    width: 100%;
    height: 100%;
}

.text-main{
    color: var(--green);
}

.text-gray{
    color: #42495b;
    text-align: justify;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1170px;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1170px;
    }
}

.table-sidebar tbody tr td{
    font-size: 14px;
    font-weight: normal;
}

.blog-item-thumbnail{
    float: left;
    width: 240px;
    height: auto;
    margin-right: 10px;
    overflow: hidden;
}

.blog-item-thumbnail img{
    border-radius: 2%;
}

.blog-items-main .post-time{
    font-size: 12px;
    color: #9b9b9b;
    margin: 0 10px 0 0;
}

.blog-items-main p{
    font-size: 14px;
    color: #4d4d4d;
    text-align: justify;
    font-weight: normal;
}

@media (min-width: 991.2px){
    .navbar-expand-lg .offcanvas {
        display: none;
    }
    .navbar-expand-lg .btn-sidebar{
        display: none;
    }
    .nav{
        display: flex;
    }
}
@media (max-width: 991.2px){
    .nav{
        display: none;
    }
}

.soLuongGioHang{
    position: absolute;
    transform: translateY(-8px);
    right: 0;
    top: 0;
    background-color: red;
    /* border-radius: 100%; */
    max-height: 16px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
}

.numberOfCart{
    transform: translateY(6px);
    width: 13px;
    text-align: center;
}

.thuonghieu:hover .content-th, .nuochoa:hover .content-gt{
    display: block;
}

.content-th{
    position: absolute;
    padding: 8px;
    z-index: 2;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    display: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight:400;
}

.content-th:hover{
    font-weight:400;
}

@media (min-width: 992px){
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 460px){
    .swiper-slide .product-link{
        height: 186px;
    }
}


@media (max-width: 460px){
        @media (min-width: 312px){
        .swiper-slide .product-link{
            height: 130px;
        }
    }
}

@media (max-width: 312px){
    .swiper-slide .product-link {
        height: 110px;
    }
}

@media (max-width: 376px){
    .card-body{
        padding: 4px;
    }
}

@media (max-width: 376px){
    .product .p-14-bold{
        font-size: 11px !important;
    }
}

.hide{
    display: none;
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.thuonghieu a, .content-gt li, .content-gt a, .thuonghieu li, .left-side-ds li, .left-side-ds a{
    list-style-type: none;
    color: black;
}

.left-side-ds a{
    padding: 10px 20px 10px 5px;
    font-size: 14px;
    color: #444444;
    font-weight:400;
    display: block;
    width: 100%;
}

.content-gt li{
    padding: 6px;
}

.content-gt ul{
    padding-left: 12px;

}
.my-ul{
    display: none;
    transition: opacity 1s;
}

.content-gt{
    position: absolute;
    padding: 8px;
    z-index: 2;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    display: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight:400;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 300px;
}

label.label-info {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

a.link-footer:hover{
    color: var(--yellow) !important;
}

.form-group {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
    .form-group {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}

main {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email-img {
    width: 30%;
    height: auto;
}

.text-center {
    text-align: center;
}
